$mainColor: #222;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// works for selectors with position:absolute
@mixin centerBySize($width, $height: null) {
  @if $width {
    width: $width;
    left: calc(50% - #{$width} / 2);
  }

  @if $height {
    height: $height;
    top: calc(50% - #{$height} / 2);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock-face {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 2.5vw 0.25vw $mainColor;
  position: relative;

  &__dash {
    @include centerBySize(0.4%);
    position: absolute;
    height: 50%;
    transform-origin: bottom center;
    &::before {
      content: '';
      position: absolute;
      background: rgba($mainColor, 0.7);
      box-shadow: 0 0 0.35vw rgba($mainColor, 0.5);
      top: 11%;
      height: 16%;
      width: 100%;
    }
    @for $i from 1 through 12 {
      &._#{$i} {
        transform: rotate(#{$i * 30}deg);
      }
    }
  }

  &__arrow {
    background: $mainColor;
    position: absolute;
    bottom: 50%;
    border-radius: 100% 100% 0 0;
    transform-origin: bottom center;
    &_hours {
      @include centerBySize(2%);
      height: 25%;
    }
    &_minutes {
      @include centerBySize(1%);
      height: 35%;
    }
    &_seconds {
      @include centerBySize(0.5%);
      height: 40%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: $mainColor;
    @include centerBySize(5%, 5%);
  }
}
