$mainColor: #222;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// works for selectors with position:absolute
@mixin centerBySize($width, $height: null) {
  @if $width {
    width: $width;
    left: calc(50% - #{$width} / 2);
  }

  @if $height {
    height: $height;
    top: calc(50% - #{$height} / 2);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 3vw;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  &__display {
    margin-bottom: 1em;
  }
  &__timeZone {
    margin-top: 1em;
  }
}

.clock-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  &__item {
    &:first-child {
      grid-column: 1/3;
    }
  }
}

.clock-face {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  box-shadow: 0 0 2.5vw 0.25vw $mainColor;
  position: relative;

  &__dash {
    @include centerBySize(0.4%);
    position: absolute;
    height: 50%;
    transform-origin: bottom center;

    &::before {
      content: '';
      position: absolute;
      background-color: rgba($mainColor, 0.3);
      box-shadow: 0 0 0.35vw rgba($mainColor, 0.3);
      top: 11%;
      height: 5%;
      width: 100%;
    }

    &._long::before {
      background-color: rgba($mainColor, 0.7);
      box-shadow: 0 0 0.35vw rgba($mainColor, 0.7);
      height: 16%;
      top: 7%;
    }

    @for $i from 1 through 60 {
      &._#{$i} {
        transform: rotate(#{$i * 6}deg);
      }
    }
  }

  &__arrow {
    background: $mainColor;
    position: absolute;
    bottom: 50%;
    border-radius: 100% 100% 0 0;
    transform-origin: bottom center;
    // transition: transform 0.2s cubic-bezier(1, 2.1, 0.9, 0.35);
    &_hours {
      @include centerBySize(2%);
      height: 25%;
    }
    &_minutes {
      @include centerBySize(1%);
      height: 35%;
    }
    &_seconds {
      @include centerBySize(0.5%);
      height: 40%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: $mainColor;
    @include centerBySize(5%, 5%);
  }
}

.search-box {
  display: inline-block;
  position: relative;
  &__options {
    position: absolute;
  }
  &__input {
  }
}

.options-list {
  width: 100%;
  overflow: hidden;
  &__item {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
